#buttons-container {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 40%;
    left: 35%;
    height: max-content;
    width: 30vw;
    border-radius: 25px;
    border-style: outset;
    text-align: center;
}

#authorization-container {
    height: 10vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.welcome-button {
    box-shadow: 0 0 10px 0 #1c1b18;
    height: 6vh;
    width: 10vw;
    background: #eae0c2 linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    border-radius: 42px;
    border: 2px solid #333029;
    cursor: pointer;
    color:#505739;
    font-family: Trebuchet MS, serif;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow:0 1px 20px #ffffff;
}

#incorrect-message {
    color: red;
}

.button-message {
    font-family: Trebuchet MS, serif;
    font-weight: bold;
    padding: 32px 76px;
    text-decoration: none;
    text-align: center;
    text-shadow:0 1px 20px #ffffff;
    font-size: 250%;
}

#table1{
    position: absolute;
    top: 20%;
}

#tag1{
    position: absolute;
    top: 10%;
    left:1%;
}

.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}


.pt-3-half {
    padding-top: 1.4rem;
}

.deny {
    background-color: red;
}

/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}