.profile-img {
	height: 5vh;
	width: 5vh;
	border-radius: 50%;
}

.bg-sandy {
	background-color: #B0926F;
}

.bg-grey {
	background-color: #6B8598;
}

.nav {
	font-family: cursive;
	font-weight: bolder;
	color: white;
	padding: 8px;
}

.nav-link {
	color: white;
}

.nav-button {
	margin-left: 1vw;
	color: white;
	background: transparent;
}

.backgroundImage {
	float: bottom;
	width: 100%;
}