#welcome-basic-info {
	background: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 15%;
	left: 15%;
	height: max-content;
	width: 30vw;
	border-radius: 5%;
	border-style: outset;
}

.title-pic {
	width: 100%;
	border-radius: 2vh;
	margin-top: 1px;
}

#message {
	margin-top: 5%;
	font-size: 150%;
	font-weight: bolder;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.gender-choice {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.gender-icon {
	width: 9%;
	border-radius: 25%;
}

#buttons-container {
	text-align: center;
}

.welcome-button  {
	box-shadow: 0 0 8px 0 #1c1b18;
	height: 5vh;
	width: 22vw;
	margin: 1.5%;
	background: linear-gradient(to bottom,skyblue, darkslateblue);
	border-radius: 42px;
	border: none;
	cursor: pointer;
	color:white;
	font-family: Trebuchet MS, serif;
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-shadow:0 1px 20px #ffffff;
}

.authorization-container {
	height: 10vh;
	width: 20vw;
	margin-top: 2vh;
	margin-left: 5vw;
	margin-right: 5vw;
}

#incorrect_message {
	color: red;
}

.intro-container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.copyright {
	display: flex;
	justify-content: center;
	font-size: 10px;
}
