body {
    background-color: black;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#background_img{
    background-color: black;
    width: 100%;
}

.pt-button {
    position: absolute;
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
}

#searchInterestedPlaces {
    left: 5%;
    text-indent: 20px;
    height: 8vh;
    width: 21vw;
    top: 20vh;
}

#PlanInfoSubmit{
    left: 5.67%;
    top: 40vh;
    font-family: cursive;
    font-weight: bold;
}

#InputPlaceSubmit{
    left: 5.67%;
    margin-top: 1%;
    top: 30vh;
    font-family: cursive;
    font-weight: bold;
}

#HotProject{
    position: absolute;
    top: 100px;
    left: 1200px;
    mix-blend-mode: difference;
    justify-content: center;
}

#HotProject p {
}

.HotButton{
    position: relative;
    padding: 50px;
    left:50px;
    height: 100px;
    background-color: white;
    display: flex;
    float: left;
    width: 100px;
    justify-content: center;
}
#HotPlaceTable{
    position: absolute;
    left:50%
}
#description_place{
    background-color: rgba(255,255,255,0.7);
    width: 600px;
    height: 600px;
    position: absolute;
    left: 500px;
    top: 200px;
}