body {
    background-color: #e6ecf0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#background_img{
    /*padding: 5px;*/
    background-color: white;
    width: 100%;
}

.pt-button {
    position: absolute;
    width: 20vw;
    height: 6vh;
    border-radius: 10%;
}

#searchInterestedPlaces {
    left: 5%;
    text-indent: 20px;
    height: 8vh;
    width: 21vw;
    top: 20vh;
}

#PlanInfoSubmit{
    left: 5.67%;
    top: 40vh;
    font-family: cursive;
    font-weight: bold;
}

#InputPlaceSubmit{
    left: 5.67%;
    margin-top: 1%;
    top: 30vh;
    font-family: cursive;
    font-weight: bold;
}

#HotProject{
    position: absolute;
    top: 100px;
    color: black;
    left: 500px;
    justify-content: center;
}

.HotButton{
    position: relative;
    padding: 50px;
    left:50px;
    height: 100px;
    background-color: white;
    display: flex;
    float: left;
    width: 100px;
    justify-content: center;
}
