#welcome-basic-info {
	background: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 15%;
	left: 35%;
	height: max-content;
	width: 30vw;
	border-radius: 5%;
}
.profile-img {
	height: 5vh;
	border-radius: 50%;
}

#SignUp {
	margin-left: 8%;
}

.nav {
	font-family: cursive;
	font-weight: bolder;
	color: white;
	padding: 8px;
}

.bg-pinkish {
	background-color: #6B8598;
}

.nav-link {
	color: white;
}

.welcome-image {
	float: bottom;
	width: 100%;
}

#buttons-container {
	text-align: center;
	margin-bottom: 10%;
}

.signup-message {
	text-align: center;
	margin: 0;
}

td {
	text-align: center;
	font-weight: bold;
	color: black;
}

.submit_button {
	background: linear-gradient(to right, #6B8598, #6B8598);
	color: white;
	border-radius: 30%;
	margin-top: 20px;
	height:5vh;
	width: 12vw;
	font-family: cursive;
}

.err_msg{ 
    color:red;
}