.viewPlanMessage {
	position: absolute;
	top: 12%;
	left: 15%;
	font-size: 350%;
	color: lightyellow;
	font-family: cursive;
}

.container{
	position: absolute;
	top: 25%;
	left: 10%;
}

#pinBoot {
	position: relative;
	max-width: 100%;
	width: 100%;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.place {
	border-radius: 5%;
}

#buttons-container {
	margin-top: 3%;
}

.accept {
	background-color: limegreen;
}

.deny {
	background-color: red;
}

.white-panel h1 {
	font-size: 1em;
}

.white-panel h1 a {
	color: #A92733;
}

.white-panel:hover {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	margin-top: -5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#white-panel-id {
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	height: max-content;
	width: 40vw;
	border-radius: 5%;
	border-style: outset;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
}
