<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My profile</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="JS/my_profile.js"></script>
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="CSS/general_navbar.css">
    <link rel="stylesheet" type="text/css" href="CSS/my_profile.css">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-sandy">
        <p class="nav">Friends On The Way</p>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="admin_main.html">Back to Menu<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <img src="PIC/main_background.jpg" class="backgroundImage" alt="MainBackground"/>
    </div>

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div id="profile-img">
                        <img src="PIC/profile_photo.png" alt="profile photo"/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            My profile
                        </h5>
                        <h6>
                            Username
                        </h6>
                        <h7>
                            Bio<br><br><br><br><br>
                        </h7>
                    </div>
                    <div class="profile-head">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" onclick="transit_home()" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="transit_pro()" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Footprints</a>
                            </li>
                        </ul>
                     </div>
                </div>
                <div class="col-md-2">
                    <a class="profile-edit-btn" href="my_profile.html">Edit Profile <span class="sr-only">(current)</span></a><br>
<!--                    <a class="profile-privacy" href="my_profile.html">Privacy setting <span class="sr-only">(current)</span></a>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>My plans</p>
                        <a href="view_plan.html">Plan 1</a><br/><br>

                        <p>Plans that I am going to</p>


                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                            <div class="row">
                                <label class="col-md-5 control-label" for="Username">Username</label>
                                <div class="col-md-5">
                                    <input value="userName" id="userName" name="userName" type="text" placeholder="Username" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Username">Username</label>
                                <div class="col-md-5">
                                    <input id="firstName" name="firstName" type="text" placeholder="firstName" class="form-control input-md">
                                </div>
                            </div>
                            <div class="row">
                            <label class="col-md-5 control-label" for="Username">Username</label>
                            <div class="col-md-5">
                                <input id="lastName" name="lastName" type="text" placeholder="lastName" class="form-control input-md">
                            </div>
                        </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Gender">Gender</label>
                                <div class="col-md-5">
                                    <input id="Gender" name="gender" type="text" placeholder="Gender" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Birthday">Date Of Birth</label>
                                <div class="col-md-5">
                                    <input id="Birthday" name="birthday" type="text" placeholder="Date Of Birth" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Email">Email address</label>
                                <div class="col-md-5">
                                    <input id="Email" name="email" type="text" placeholder="Email address" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Phone">Phone number</label>
                                <div class="col-md-5">
                                    <input id="Phone" name="phone" type="text" placeholder="Phone number" class="form-control input-md">
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Languages">Languages Known</label>
                                <div class="col-md-5">
                                        <input type="text" name="language" id="Languages"  placeholder="Languages" class="form-control input-md">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-5 control-label" for="Detail">Detail description:</label>
                                <div class="col-md-5">
                                    <textarea class="form-control" rows="10"  id="Detail" name="description" placeholder="max 200 words"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <button class="welcome-button" id="login-button" onclick="editProfile()"> Save </button>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" hidden="hidden">
                            <section id="pinBoot">
                                <article class="white-panel"><img src="PIC/icon.png" alt="">
                                    <h4>Place name</h4>
                                    <h2>Date</h2>
                                    <p> Description  </p>
                                </article>
                            </section>

                            <div class="row">
                                <a class="welcome-button"  href="user_profile.hbs">Add more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>