body {
	background-color: white;
	margin: 0;
}

#welcome-header {
	background-color: white;
}

.welcome-image {
	float: bottom;
	width: 100%;
}

.welcome-basic-info {
	background: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 15%;
	left: 15%;
	height: max-content;
	width: 30vw;
	border-radius: 5%;
	border-style: outset;

}

.title-pic {
	width: 100%;
	border-radius: 2vh;
	margin-top: 1px;
}

.message {
	margin-top: 5%;
	font-size: 150%;
	font-weight: bolder;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.gender-choice {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

.gender-icon {
	height: 15%;
	width: 9%;
	border-radius: 25%;
}

.buttons-container {
	text-align: center;
	margin-bottom: 10%;
}

.login-button  {
	height: 4vh;
	width: 20vw;
	font-size: 1.5vh;
	margin-bottom: 1%;
	color: white;
	background: rgba(110, 60, 128, 1);
}

.signup-button {
	height: 4vh;
	width: 20vw;
	font-size: 1.5vh;
	margin-bottom: 1%;
	color: white;
	background: rgba(110, 60, 128, 1);
}

.intro-container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.copyright {
	display: flex;
	justify-content: center;
	font-size: 10px;
}
